:root {
    --primary: #fff;
}
  
.btn {
    padding: 8px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
  
.btn--primary {
    background-color: var(--button-solid-color);
    color: #242424;
    border: 1px solid var(--button-solid-color);
}
  
.btn--outline {
    background-color: rgba(0,0,0,0.2);
    color: var(--button-outline-text-color);
    padding: 8px 20px;
    border: 1px solid var(--button-outline-color);
    transition: all 0.3s ease-out;
}
  
.btn--medium {
    padding: 8px 20px;
    font-size: var(--font-sm);
}
  
.btn--large {
    padding: 12px 26px;
    font-size: var(--font-sm);
}
  
.btn--large:hover,
.btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
}

.glow-on-hover {
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--button-solid-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
