.contact-container {
  max-width: 80%;
  margin: auto;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 2.5rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 32px 0 rgba(0,0,0,0.25);
}

.contact-container h1 {
  font-size: var(--font-2xl);
  margin-bottom: 4rem;
  color: var(--main-text-color);
  text-align: center;
}

.contact-container p {
  font-size: var(--font-base);
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-info {
  margin-bottom: 2.5rem;
  font-size: var(--font-sm);
  text-align: center;
}

.contact-info a {
  color: var(--link-color);
  text-decoration: underline;
  font-size: inherit;
}

@media (max-width: 700px) {
  .contact-container {
    padding: 1.5rem 0.5rem;
  }
  .contact-form {
    padding: 1rem 0.5rem;
  }
}