.sponsor-link {
    text-decoration: none;
    color: inherit;
}

.sponsor-link:visited,
.sponsor-link:active,
.sponsor-link:hover {
    text-decoration: none;
    color: inherit;
}

.sponsor-card {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    width: 80%;
    box-sizing: border-box; /* Ensure proper box-sizing */
}

.sponsor-card.even {
    flex-direction: row-reverse;
}

.sponsor-card.odd {
    flex-direction: row;
}

.sponsor-logo {
    border-radius: 0.5rem;
    margin-right: 2.5rem;
    box-sizing: border-box;
    width: 20%;
    max-width: 100%;
}

.sponsor-link > img {
    width: 100%;
    height: auto;
}

.sponsor-card.even .sponsor-logo {
    margin-right: 0;
    margin-left: 2.5rem;
}

.sponsor-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor-name {
    font-size: var(--font-lg);
    margin-bottom: var(--font-xs);
    color: var(--main-text-color);
    text-align: center;
}

.sponsor-description {
    font-size: var(--font-sm);
    color: var(--main-text-color);
    text-align: left;
    max-width: 90%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .sponsor-card {
        flex-direction: column; /* Ensure cards stack vertically on small screens */
        align-items: center;
        padding: 1.25rem;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }

    .sponsor-logo {
        width: 60%;
        height: auto; /* Maintain aspect ratio */
        margin: 0.625rem 0;
    }

    .sponsor-link > img {
        width: 100%;
        height: auto;
    }

    .sponsor-name {
        font-size: var(--font-base);
        text-align: center;
    }

    .sponsor-description {
        font-size: var(--font-sm);
        text-align: center;
    }
}

@media (max-width: 480px) {
    .sponsor-card {
        padding: 0.625rem;
        padding: var(--font-xs);
    }

    .sponsor-name {
        font-size: var(--font-sm);
    }

    .sponsor-description {
        font-size: var(--font-sm);
    }

    .sponsor-logo {
        width: 100%;
    }
}
