.join-container {
    max-width: 1200px;
    width: 90%;
    margin: 2rem auto;
    padding: var(--font-lg);
    border-radius: 10px;
    text-align: center;
}

.join-container > h1 {
    font-size: var(--font-xl);
    margin-bottom: var(--font-sm);
    color: var(--main-text-color);
}

.join-container > p {
    font-size: var(--font-base);
    margin-bottom: var(--font-sm);
    color: var(--main-text-color);
}

.form-container {
    width: 100%;
    position: relative;
    padding-top: 150%;
}

.form-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    filter: invert(1) hue-rotate(180deg); /* Invert colors to simulate dark mode */
}

@media (max-width: 768px) {
    .join-container {
        padding: var(--font-base);
    }

    .join-container > h1 {
        font-size: var(--font-lg);
    }

    .join-container > p {
        font-size: var(--font-sm);
    }
}

@media (max-width: 480px) {
    .join-container > h1 {
        font-size: var(--font-base);
    }

    .join-container > p {
        font-size: var(--font-xs);
    }
}
