.about-us-container {
    position: relative;
    width: 100%;
    flex-direction: column;
    margin-bottom: 3.125rem; /* 50px */
}

.about-us-description-container {
    max-width: 1320px;
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    text-align: left;
}

.about-us-header-container {
    background-image: url('../../../../assets/clubphoto.webp');
    background-size: cover;
    background-position: top 20% center;
    box-shadow: inset 0 0 0 1000px rgba(9, 9, 11, 0.85);
    padding: 6.25rem; /* 100px */
}

.about-us-header-container > h1 {
    text-align: center;
    font-size: var(--font-2xl);
    color: var(--main-text-color);
    margin-bottom: var(--font-lg);
}

.about-us-header-container > h2 {
    text-align: center;
    font-size: var(--font-lg);
    color: var(--main-text-color);
    margin-top: 0.9375rem; /* 15px */
}

.about-us-description-container > h1 {
    text-align: center;
    font-size: var(--font-xl);
    color: var(--main-text-color);
    padding: var(--font-xs);
}

.about-us-description-container > h2 {
    text-align: center;
    font-size: var(--font-xl);
    color: var(--main-text-color);
    padding: var(--font-xs);
}

.about-us-description-container > p {
    padding: var(--font-xs);
    color: var(--main-text-color);
    font-size: var(--font-base);
}

@media screen and (max-width: 960px) {
    .about-us-header-container {
        padding: var(--font-base);
    }

    .about-us-header-container > h1 {
        text-align: center;
        font-size: var(--font-xl);
    }

    .about-us-header-container > h2 {
        text-align: center;
        font-size: var(--font-base);
    }

    .about-us-description-container > h1 {
        font-size: var(--font-lg);
    }

    .about-us-description-container > p {
        font-size: var(--font-sm);
    }
}
