.team6183-team-container {
    max-width: 1200px;
    width: 90%;
    margin: 2rem auto;
    padding: var(--font-lg);
    border-radius: 10px;
    text-align: center;
}

.team6183-team-container > h1 {
    font-size: var(--font-xl);
    margin-bottom: var(--font-xs);
    color: var(--main-text-color);
}

.team6183-team-container > p {
    font-size: var(--font-base);
    margin-bottom: var(--font-lg);
    color: var(--main-text-color);
}

.team6183-team-photo {
    width: 100%;
}
.team6183-team-photo:hover {
    transform: none;
}

.team6183-social-links {
    margin-bottom: var(--font-lg);
}

.team6183-social-links a {
    margin: 0 var(--font-xs);
    color: var(--link-color);
    text-decoration: none;
}

.team6183-social-links a:hover {
    text-decoration: underline;
}

.team6183-social-links img {
    width: 40px;
    height: 40px;
    margin: 0 var(--font-xs);
}

.team6183-overview,
.team6183-history,
.team6183-outreach,
.team6183-media {
    margin-bottom: var(--font-lg);
}

.team6183-overview h2,
.team6183-history h2,
.team6183-outreach h2,
.team6183-media h2 {
    font-size: var(--font-xl);
    color: var(--main-text-color);
    margin-bottom: var(--font-xs);
}

.team6183-overview p,
.team6183-history p,
.team6183-outreach p {
    font-size: var(--font-base);
    color: var(--main-text-color);
    margin-bottom: var(--font-base);
}

.team6183-history ul,
.team6183-outreach ul {
    list-style-type: disc;
    padding-left: var(--font-base);
    text-align: left;
}

.team6183-history li,
.team6183-outreach li {
    font-size: var(--font-base);
    color: var(--main-text-color);
    margin-bottom: var(--font-xs);
}

.team6183-history ul ul {
    margin-top: var(--font-xs);
}

.team6183-outreach-project {
    margin-bottom: var(--font-lg);
}

.team6183-outreach-project h3 {
    font-size: var(--font-lg);
    color: var(--main-text-color);
    margin-bottom: var(--font-xs);
}

.team6183-outreach-project p {
    font-size: var(--font-base);
    color: var(--main-text-color);
    margin-bottom: var(--font-xs);
}

@media (max-width: 768px) {
    .team6183-team-container {
        padding: var(--font-base);
    }

    .team6183-team-container > h1 {
        font-size: var(--font-lg);
    }

    .team6183-team-container > p {
        font-size: var(--font-sm);
    }

    .team6183-overview h2,
    .team6183-history h2,
    .team6183-outreach h2,
    .team6183-media h2 {
        font-size: var(--font-lg);
    }

    .team6183-overview p,
    .team6183-history p,
    .team6183-outreach p {
        font-size: var(--font-sm);
    }

    .team6183-history ul,
    .team6183-outreach ul {
        padding-left: var(--font-sm);
    }

    .team6183-history li,
    .team6183-outreach li {
        font-size: var(--font-sm);
    }

    .team6183-outreach-project h3 {
        font-size: var(--font-base);
    }

    .team6183-outreach-project p {
        font-size: var(--font-sm);
    }
}