.gallery {
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.slide-track {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 250px;
    margin-inline: auto;
    position: relative;
    align-items: stretch;

    mask-image: linear-gradient(
        to right,
        rgba(20, 20, 20, 0),
        rgba(20, 20, 20, 1) 20%,
        rgba(20, 20, 20, 1) 80%,
        rgba(20, 20, 20, 0)
    );
}

.slide-track:hover img {
    animation-play-state: paused;
}

img:hover {
    transform: scale(1.2);
}

@keyframes scrollLeft {
    to {
        left: -400px;
    }
}

@keyframes scrollRight {
    to {
        right: -400px;
    }
}