.gallery {
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.slide-track {
    width: 1320px;
    overflow: hidden;
    height: 250px;
    margin-inline: auto;
    position: relative;

    mask-image: linear-gradient(
        to right,
        rgba(20, 20, 20, 0),
        rgba(20, 20, 20, 1) 20%,
        rgba(20, 20, 20, 1) 80%,
        rgba(20, 20, 20, 0)
    );
}

@keyframes scrollLeft {
    to {
        left: -400px;
    }
}
