.footer-container {
    border-top: 3px solid var(--border-color);
    background-color: var(--black);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.footer-join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: var(--font-base);
    padding: var(--font-base);
    color: var(--main-text-color);
}

.footer-join > h1 {
    margin-bottom: var(--font-base);
    font-size: var(--font-xl);
}

.footer-join > h2 {
    margin-bottom: var(--font-sm);
    font-size: var(--font-lg);
}

.footer-join > p {
    margin-bottom: var(--font-sm);
    font-size: var(--font-sm);
}

.social-media {
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2.5rem auto 0 auto;
}

.social-logo {
    max-width: 180px;
}

.website-rights {
    color: var(--main-text-color);
    margin-bottom: var(--font-sm);
}

@media screen and (max-width: 960px) {
    .footer-container {
        padding: 0.75rem;
    }

    .footer-join > h1 {
        font-size: var(--font-base);
    }

    .footer-join > h2 {
        font-size: var(--font-sm);
    }

    .footer-join > p {
        font-size: var(--font-xs);
    }

    .social-media-wrap {
        margin: 0.5rem auto 0 auto;
    }

    .social-logo {
        max-width: 100px;
    }

    .website-rights {
        font-size: var(--font-xxs);
    }
}
