.footer-container {
    border-top: 3px solid var(--border-color);
    background-color: #09090b;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.footer-join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: var(--main-text-color);
}

.footer-join > h1 {
    margin-bottom: 24px;
    font-size: 48px;
}

.footer-join > h2 {
    margin-bottom: 16px;
    font-size: 36px;
}

.footer-join > p {
    margin-bottom: 24px;
    font-size: 24px;
}

.social-media {
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto 0 auto;
}

.social-logo {
    max-width: 180px;
}

.website-rights {
    color: var(--main-text-color);
    margin-bottom: 16px;
}