.description-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100vh;
}

.overview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 2.5rem 5rem; /* 40px 80px */
}

.text-container > p {
    max-width: 100%;
    margin-top: 0.5rem; /* 8px */
    margin-bottom: 1rem; /* 16px */
    color: var(--main-text-color);
    font-size: var(--font-base);
}

.overview-image {
    max-width: 45%;
    margin-left: 6.25rem; /* 100px */
    border-radius: 5%;
}

@media screen and (max-width: 1500px) {
    .text-container > p {
        font-size: var(--font-base);
    }
}

@media screen and (max-width: 960px) {
    .description-container {
        width: 100%;
    }
    .overview-container {
        flex-direction: column;
        padding: 1.875rem 1.875rem;
    }
    .text-container > p {
        font-size: var(--font-sm);
    }
    .overview-image {
        max-width: 100%;
        margin-top: 2rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .text-container > p {
        font-size: var(--font-sm);
    }
}

.section-box {
    position: relative;
    width: 90%;
    margin: 3rem auto;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ftc-box {
    box-shadow: 0 0 15px 5px var(--orange)
}

.frc-box {
    box-shadow: 0 0 15px 5px var(--blue)
}

.ftc-container, .frc-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 2rem;
    /* box-shadow: inset 0 0 0 1000px rgba(9, 9, 11, 0.5); overlay */
}

.ftc-container {
    position: relative;
    width: 100%;
    flex-direction: column;
    padding: 1.75rem 5rem; /* 60px 80px */
    box-shadow: inset 0 0 0 1000px rgba(9, 9, 11, 0.75);
}

.ftc-container > h1 {
    text-align: center;
    font-size: var(--font-2xl);
    color: var(--main-text-color);
    margin-top: 1.25rem; /* 20px */
}

.ftc-description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem; /* 40px */
    margin-top: 2.5rem; /* 40px */
}

.ftc-description-container > p {
    color: var(--main-text-color);
    font-size: var(--font-base);
}

.ftc-image {
    max-width: 45%;
    margin-left: 6.25rem; /* 100px */
    border-radius: 5%;
}

.ftc-text-box {
    position: absolute;
    bottom: 0.3125rem; /* 5px */
    right: 0;
    padding: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* 5px */
    font-size: 5.625rem; /* 90px */
    max-width: 40%;
    max-height: 30%;
}

@media screen and (max-width: 1500px) {
    .ftc-container > h1 {
        font-size: 6rem; /* 96px */
    }

    .ftc-description-container > p {
        font-size: var(--font-base);
    }
}

@media screen and (max-width: 960px) {
    .ftc-description-container {
        flex-direction: column;
        padding: 0.625rem; /* 10px */
    }
    .ftc-image {
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }
    .ftc-container > h1 {
        font-size: var(--font-lg);
    }
    .ftc-description-container > p {
        font-size: var(--font-sm);
    }
}

@media screen and (max-width: 768px) {
    .ftc-description-container > p {
        font-size: var(--font-sm);
    }
}

.frc-container {
    position: relative;
    width: 100%;
    flex-direction: column;
    padding: 1.75rem 5rem; /* 40px 80px */
    box-shadow: inset 0 0 0 1000px rgba(9, 9, 11, 0.75);
}

.frc-container > h1 {
    text-align: center;
    font-size: var(--font-2xl);
    color: var(--main-text-color);
}

.frc-description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem; /* 40px */
    margin-bottom: 2.5rem; /* 40px */
}

.frc-description-container > p {
    color: #ffffff;
    font-size: var(--font-base);
}

.frc-image {
    max-width: 45%;
    margin-left: 6.25rem; /* 100px */
    border-radius: 5%;
}

.frc-text-box {
    position: absolute;
    bottom: 0.3125rem; /* 5px */
    right: 0;
    color: #ffffff;
    padding: 0.625rem; /* 10px */
    border-radius: 0.3125rem; /* 5px */
    font-size: 5.625rem; /* 90px */
    max-width: 40%;
    max-height: 30%;
}

@media screen and (max-width: 1500px) {
    .frc-container > h1 {
        font-size: var(--font-xl);
    }

    .frc-description-container > p {
        font-size: var(--font-base);
    }
}

@media screen and (max-width: 960px) {
    .frc-description-container {
        flex-direction: column;
        padding: 0.625rem; /* 10px */
    }
    .frc-image {
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }

    .frc-container > h1 {
        font-size: var(--font-lg);
    }
    .frc-description-container > p {
        font-size: var(--font-sm);
    }
}

@media screen and (max-width: 768px) {
    .frc-description-container > p {
        font-size: var(--font-sm);
    }
}

@media screen and (max-width: 960px) {
    .ftc-image, .frc-image {
        max-width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
}