.description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.text-container > p {
    max-width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 32px;
}

.description-image {
    max-width: 45%;
    margin-left: 100px;
    border-radius: 5%;
}

@media screen and (max-width: 960px) {
    .description-container {
        flex-direction: column;
        padding: 30px 30px 30px 30px;
    }
    .text-container > p {
        max-width: 100%;
        font-size: 28px;
    }
    .description-image {
        max-width: 100%;
        margin-top: 2rem;
        margin-left: 0px;
    }
}
  
@media screen and (max-width: 768px) {
    .text-container > p {
      font-size: 24px;
    }
}

.ftc-container {
    position: relative;
    width: 100%;
    background-color: #202020;
    flex-direction: column;
    padding: 20px;
}

.ftc-container > h1 {
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    margin-top: 20px;
}

.ftc-description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.ftc-description-container > p {
    color: #ffffff;
    font-size: 32px;
}

.ftc-image {
    max-width: 45%;
    margin-left: 100px;
    border-radius: 5%;
}

.ftc-text-box {
    position: absolute;
    bottom: 5px;
    right: 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 90px;
    max-width: 40%;
    max-height: 30%;
}

@media screen and (max-width: 960px) {
    .ftc-description-container {
        flex-direction: column;
        padding: 10px 10px 10px 10px;
    }
    .ftc-image {
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0px;
    }
    .ftc-container > h1 {
        max-width: 100%;
        font-size: 50px;
    }
    .ftc-description-container > p {
        max-width: 100%;
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .ftc-description-container > p {
      font-size: 24px;
    }
}

.frc-container {
    position: relative;
    width: 100%;
    background-color: #202020;
    flex-direction: column;
    padding: 20px;
}

.frc-container > h1 {
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    
}

.frc-description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.frc-description-container > p {
    color: #ffffff;
    font-size: 32px;
}

.frc-image {
    max-width: 45%;
    margin-left: 100px;
    border-radius: 5%;
}

.frc-text-box {
    position: absolute;
    bottom: 5px;
    right: 0px;
    background-color: #2626a9;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 90px;
    
    max-width: 40%;
    max-height: 30%;
}

@media screen and (max-width: 960px) {

    .frc-description-container {
        flex-direction: column;
        padding: 10px 10px 10px 10px;
    }
    .frc-image {
        max-width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0px;
    }

    .frc-container > h1 {
        max-width: 100%;
        font-size: 50px;
    }
    .frc-description-container > p {
        max-width: 100%;
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .frc-description-container > p {
      font-size: 24px;
    }
}  
