video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

@keyframes video-animation {
  0% {box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);}
  75%, 100% {box-shadow: inset 0 0 0 1000px rgba(9, 9, 11, 1);}
}

.landing-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: inset 500px 0 0 120% rgba(9, 9, 11, 0.4);
    object-fit: contain;

    animation: video-animation linear forwards;
    animation-timeline: view();
}

.landing-container > h1 {
    color: var(--main-text-color);
    font-size: 100px;
    margin-top: -100px;
}

.landing-container > h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--main-text-color);
    font-size: 32px;
}

.landing-btns {
  margin-top: 32px;
}

.landing-btns .btn{
  margin: 6px;
}

@media screen and (max-width: 960px) {
    .landing-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
}
  
@media screen and (max-width: 768px) {
    .landing-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .landing-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
}