@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Monsterrat', Arial, sans-serif;
  font-size: 12px;
}

:root {
  /* Color Scheme */
  --white: #ffffff;
  --black: #09090b;
  --orange: #ff852b;
  --blue: #0070e0;
  --light-blue: #319fff;

  --main-bg-color: var(--black);
  --main-text-color: var(--white);
  --secondary-text-color: var(--black);
  --accent-text-color: var(--orange);
  --button-hover-color: var(--orange);
  --button-solid-color: var(--white);
  --button-outline-color: var(--white);
  --button-outline-text-color: var(--white);
  --border-color: var(--white);
  --link-color: var(--light-blue);

  /* Font Sizes */
  --font-2xs: 0.75rem;
  --font-xs: 1rem;
  --font-sm: 1.5rem;
  --font-base: 2rem;
  --font-lg: 3rem;
  --font-xl: 4.5rem;
  --font-2xl: 6.25rem;
}

body {
  background: var(--main-bg-color);
}

/* links */
a {
  color: var(--link-color);
  font-size: inherit;
}

b {
  font-size: inherit;
}

img {
  transition: transform 0.5s cubic-bezier(0.87, -1.38, 0.03, 1.54);
}

img:hover {
  transform: scale(1.15);
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}