@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: #202020;
}

/* links */
a {
  color: #0070e0;
}

img {
  transition: transform 1s;
}

img:hover {
  transform: scale(1.2);
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}