.notfound-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.glitch {
    position: relative;
    color: var(--white);
    font-size: var(--font-3xl);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: var(--main-bg-color);
    color: var(--white);
}

.glitch::before {
    left: 10px;
    text-shadow: 5px 0 #3cd1e9;
    animation: effect 3s infinite alternate linear;
}

.glitch::after {
    left: 4px;
    text-shadow: -5px 0 #ff1d6f;
    animation: effect 2s infinite alternate linear;
}

@keyframes effect {
    0% { clip: rect(55px, 9999px, 56px, 0); }
    5% { clip: rect(47px, 9999px, 30px, 0); }
    10% { clip: rect(33px, 9999px, 36px, 0); }
    15% { clip: rect(35px, 9999px, 9px, 0); }
    20% { clip: rect(63px, 9999px, 59px, 0); }
    25% { clip: rect(96px, 9999px, 98px, 0); }
    30% { clip: rect(48px, 9999px, 77px, 0); }
    35% { clip: rect(50px, 9999px, 34px, 0); }
    40% { clip: rect(60px, 9999px, 72px, 0); }
    45% { clip: rect(10px, 9999px, 81px, 0); }
    50% { clip: rect(2px, 9999px, 60px, 0); }
    55% { clip: rect(23px, 9999px, 59px, 0); }
    60% { clip: rect(76px, 9999px, 90px, 0); }
    65% { clip: rect(62px, 9999px, 30px, 0); }
    70% { clip: rect(60px, 9999px, 73px, 0); }
    75% { clip: rect(60px, 9999px, 87px, 0); }
    80% { clip: rect(2px, 9999px, 14px, 0); }
    85% { clip: rect(28px, 9999px, 87px, 0); }
    90% { clip: rect(73px, 9999px, 50px, 0); }
    95% { clip: rect(79px, 9999px, 70px, 0); }
    100% { clip: rect(17px, 9999px, 79px, 0); }
}

.notfound-container .message {
    color: var(--main-text-color);
    font-size: var(--font-base);
    margin-bottom: var(--font-xl);
    text-align: center;
    max-width: 600px;
}

.fuzzy-overlay {
    position: absolute;
    inset: -200%;
    background-image: url("/assets/noise.png");
    opacity: 10%;
    animation: shift 0.2s linear infinite both;
    pointer-events: none;
}

@keyframes shift {
    0% {
        transform: translateX(10%) translateY(10%);
    }
    100% {
        transform: translateX(-10%) translateY(-10%);
    }
}